<h2>Historique</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Description</th>
    <th>Libelle</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Vous avez remboursé à Alexis 15€</td>
    <td>Restaurant Omnia</td>
    <td>01/01/2020</td>
  </tr>
  <tr>
    <td>Hélène vous a remboursé 10 €</td>
    <td>Restaurant Omnia</td>
    <td>01/01/2020</td>
  </tr>
  <tr>
    <td>Vous devez 20€ à Alexis</td>
    <td>Restaurant La Cimaise</td>
    <td>01/12/2019</td>
  </tr>
  </tbody>
</table>
