<div class="card-columns">
  <a routerLink="/add-invoice" class="nav-link">
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">Ajouter une facture</p>
      </div>
    </div>
  </a>
  <a routerLink="/invoices" class="nav-link">
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">Liste des factures</p>
      </div>
    </div>
  </a>
  <a routerLink="/historique" class="nav-link">
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">Historique</p>
      </div>
    </div>
  </a>
  <a routerLink="/remboursements" class="nav-link">
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">Remboursements</p>
      </div>
    </div>
  </a>
  <a routerLink="/dettes" class="nav-link">
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">Dettes</p>
      </div>
    </div>
  </a>

</div>
