<section class="login-wrap mtb-40">
  <div class="container">
    <div class="row justify-content-center" *ngIf="!error">
      <div class="col-md-6">
        <div class="login-box">
          <h1>Page de connexion</h1>
          <div class="alert alert-danger" *ngIf="loginError">
            {{loginError}}
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" formControlName="email" class="form-control" placeholder="Email" required>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                <div *ngIf="email.errors">
                  L'email est requis.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" formControlName="motDePasse" class="form-control" placeholder="Mot de passe" required>
              <div *ngIf="motDePasse.invalid && (motDePasse.dirty || motDePasse.touched)" class="error">
                <div *ngIf="motDePasse.errors">
                  Le mot de passe est requis.
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Se connecter</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
