<div class="container wrapper wrapper2">
  <div class="row">

    <!-- Form -->
    <div class="col-md-12">
      <h3>Connexion</h3>
      <form [formGroup]="issueForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control" maxlength="66">
        </div>
        <div class="form-group">
          <label>Mot de passe</label>
          <input type="password" formControlName="motDePasse" class="form-control" maxlength="20">
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </form>
    </div>

  </div>
</div>
