<section class=" form-wrap mtb-40">
  <div class="container">
    <div class="row justify-content-center" *ngIf="!error">
      <div class="col-md-12">
        <div class="form-box">
          <h1 class="form-name">Inscription</h1>
          <div class="alert alert-danger" *ngIf="registerError">
            {{registerError}}
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" formControlName="nom" class="form-control" placeholder="Nom" required>
              <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="error">
                <div *ngIf="nom.errors" >
                  Un nom est requis.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="prenom" class="form-control" placeholder="Prenom" required>
              <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="error">
                <div *ngIf="prenom.errors">
                  Un prenom est requis.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="email" class="form-control" placeholder="Email" required>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                <div *ngIf="email.errors">
                  L'email est requis.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" formControlName="motDePasse" class="form-control" placeholder="Mot de passe" required>
              <div *ngIf="motDePasse.invalid && (motDePasse.dirty || motDePasse.touched)" class="error">
                <div *ngIf="motDePasse.errors">
                  Le mot de passe est requis.
                </div>
              </div>
            </div>
            <div class="form-group form-btn">
              <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">S'inscrire</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
