<section class=" form-wrap mtb-40">
  <div class="container">
    <div class="row justify-content-center" *ngIf="!error">
      <div class="col-md-12">
        <div class="form-box">
          <h1 class="form-name">Inscription</h1>
          <div class="alert alert-danger" *ngIf="registerError">
            {{registerError}}
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" formControlName="lastName" class="form-control" placeholder="nom" required>
              <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error">
                <div *ngIf="lastName.errors" >
                  Un nom est requis.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="firstName" class="form-control" placeholder="Prenom" required>
              <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error">
                <div *ngIf="firstName.errors">
                  Un prenom est requis.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="email" class="form-control" placeholder="Email" required>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                <div *ngIf="email.errors">
                  L'email est requis.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control" placeholder="mot de passe" required>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                <div *ngIf="password.errors">
                  Le mot de passe est requis.
                </div>
              </div>
            </div>
            <div class="form-group form-btn">
              <!--button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">S'inscrire</!--button -->
              <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">S'inscrire</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
